body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.LoginForm, .RegisterForm, .ChangePasswordForm, .QuizForm {
    text-align: center;
    display: table;
    padding: 5px;
    margin: 50px auto auto;
}

.QuizForm, .AccountConfirmationPage {
    text-align: center;
    display: table;
    width: 30%;
    padding: 5px;
    margin: 50px auto auto;
}

.LoginForm input, .RegisterForm input, .ChangePasswordForm input, .QuizForm input {
    margin-bottom: 25px;
}

.UserProfile, .UserQuizPage, .StartPage, .QuizPlay, .QuestionPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.quizTable {
    display: flex;
    flex-wrap: wrap;
}

.quizCardWrapper {
    display: inline-block;
    flex-grow: 1;
    flex: 1 1 30%;
    margin: 20px;
}

.userCard, .quizCard {
    align-items: center;
    padding: 20px;
    text-align: center;
}

.questionCard {
    margin: 20px;
}

.card-img-top {
    width: 30%;
}

.addQuizButton {
    position: fixed;
    bottom: 5%;
}

.deleteQuestionButton {
    margin-left: 20px;
}