.LoginForm, .RegisterForm, .ChangePasswordForm, .QuizForm{
    text-align: center;
    display: table;
    padding: 5px;
    margin: 50px auto auto;
}

.LoginForm input, .RegisterForm input, .ChangePasswordForm input, .QuizForm input {
    margin-bottom: 25px;
}

.UserProfile, .UserQuizPage, .StartPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.quizTable {
    display: flex;
}

.myCard {
    padding: 20px;
    align-items: center;
    margin: 50px;
}

.card-img-top {
    width: 30%;
}

.addQuizButton {
    position: fixed;
    bottom: 5%;
}