body {
    font-family: 'Arbutus Slab'; 
    font-size: 16px;
}

.MainMenu {
    box-shadow: 3px 3px 3px rgb(170, 170, 170);
}

.logo {
    font-size: 25px;
    text-shadow: 3px 2px 0px rgb(119, 119, 119);
}

.logoPart{
    color: #1fc2db;
}

.dropdown-item:active {
    background-color: #17a2b8;
}

.LoginForm, .RegisterForm, .ChangePasswordForm, .QuizForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}

.QuizForm, .AccountConfirmationPage {
    text-align: center;
    display: table;
    width: 30%;
    padding: 5px;
    margin: 50px auto auto;
}

.LoginForm input, .RegisterForm input, .ChangePasswordForm input, .QuizForm input {
    margin-bottom: 25px;
}

.UserProfile, .UserQuizPage, .StartPage, .QuizPlay, .QuestionPlay, .QuestionScore, .StatisticsPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.UserResultPage {
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    text-align: center;
}

.loginAlert {
    margin-top: 20px;
}

.quizTable {
    display: flex;
    flex-wrap: wrap;
}

.quizCardWrapper {
    display: inline-block;
    flex-grow: 1;
    flex: 1 1 30%;
    margin: 20px;
}

.userCard, .quizCard, .statisticCard {
    align-items: center;
    padding: 20px;
    text-align: center;
}

.questionCard {
    margin: 20px;
}
  
.statisticCard {
    border: none;
    flex: 1;
}

.card-img-top {
    width: 30%;
}

.addQuizButton {
    position: fixed;
    bottom: 5%;
}

.deleteQuestionButton {
    margin-left: 20px;
}

.answerButtons {
    display: flex;
    flex-direction: row;
}

.deleteAnswerButton, .addAnswerButton {
    margin-left: 10px
}

.questionModal{
   display: flex;
   flex-direction: column;
   align-items: center;
}
  
input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
}
  
.answerLabel {
    width: 350px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin-top: 15px;
    border: 2px rgb(58, 58, 58) solid;
    border-radius: 5px;
    transition: all .1s ease-out;
}

input[type="radio"]:checked + label{ 
    background-color: #b7f5ff63;
}

.goodAnswerLabel {
    background-color: rgba(162, 255, 162, 0.719);
    border: 2px green solid;
}

.badAnswerLabel {
    background-color: rgba(255, 164, 164, 0.685);
    border: 2px red solid;
}

.scorePopup {
    text-align: center;
}

.statisticsCardsWrapper, .chartsWrapper, .countersWrapper{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin: 20px;
}

.chart, .counter {
    flex: 1;
}

.pageTitle {
    margin: 20px auto;
    text-shadow: 2px 1px 0px rgb(190, 190, 190);
}

a {
    color: #17a2b8;
}

a:hover {
    color: #138496;
}

.nav-pills .nav-link.active {
    background-color: #17a2b8;
    color: white;
}

.counter {
    font-size: 100px;
    text-align: center;
    margin: 50px;
}